.home-button{
    margin-left: 30rem;
    margin-top: 10rem;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 21.22rem;
}

.text-button{
    padding: 5px 55px 5px 55px;
    text-decoration: none;
    background-color: #758bfd;
    color: white;
    border-radius: 8px;
}

.sig-button{
    margin-left: 20px;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    background-color: #758bfd;
    color: white;
    border-radius: 8px;
}