.text-wrapper > textarea{
    margin-left: 21rem;
    border-radius: 8px;
    border-width: 10px;
}

.text-wrapper > h1{
    
    margin-left: 36rem;
    font-weight: bold;
    color: #758bfd;
}

.text-wrapper > button{
    font-weight: bold;
    color: white;
    background-color: #758bfd;
    border-color: #758bfd;
    border-radius: 5px;
    margin-left: 58rem;
    padding: 10px 10px 10px 10px;
}